<div
   class="as-producttile-info"
   style="border: 2px solid green; padding: 15px 10px; width: 40%; margin: auto; margin-top: 50px; text-align: center;"
>
   <h2>Pago exitoso!</h2>
   <p>tipo de pago: {{payment_type}}</p>
   <p>Referencia: {{external_reference}}</p>
   <p>payment_id: {{payment_id}}</p>

   <button
      type="submit"
      class="mercadopago-button"
      onclick="location.href='/'"
   >Volver a Home</button>
</div>

<script src="https://www.mercadopago.com/v2/security.js" view=""></script>