{% extends "base.jinja" %} {% block informacion %}

<div class="card" style="width: 25rem">
   <div class="card-body">
      <p class="card-text">
         El link al cual quieres acceder ya no esta disponible
      </p>
   </div>
</div>
{% endblock %} {% block header %} ❌ Pagina de error {% endblock %}
