{% extends "base.jinja" %} {% block informacion %}

<div class="card" style="width: 25rem">
   <div class="card-body">
      <p class="card-text">esta es una card!</p>
   </div>
</div>
{% endblock %}
