{% extends "base.jinja" %} {% block pass %}
<div class="card" style="width: 25rem">
   <div class="card-body">
      <form>
         <div class="form-group">
            <h5 id="correo">{{ correo }}</h5>
            <label for="exampleInputPassword1">
               Ingresa tu nueva password</label
            >
            <input type="password" class="form-control" id="password" />
         </div>
         <button type="submit" id="btn_reset_password" class="btn btn-primary">
            Reestablecer password
         </button>
      </form>
   </div>
</div>
<script src="{{ url_for('static',filename='recovery.js') }}"></script>

{% endblock %}
